<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico' ) }}" type="image/png">
    <meta charset="utf-8">
    <meta name="description" content="A mobile viewer for legacy iOS utilizing the Invidious API.">
    <meta name="keywords" content="invidious, legacy, iphone, iphone os, ipod, video">
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}" />
    <style type="text/css" media="screen">@import "{{ url_for('static', filename='iphonenav.css') }}";</style>
    <title>{{ title }}</title>

    <script type="application/x-javascript">

        addEventListener("load", function()
        {
        setTimeout(hideURLbar, 0);
        }, false);
        
        function hideURLbar()
        {
        window.scrollTo(0, 1);
        }
        
        </script>

    <script type="application/x-javascript" src="{{ url_for('static', filename='iphonenav.js') }}"></script>
</head>