<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include 'head.html' %}

<body orient="landscape">
    <h1 id="pageTitle">{{ title }}</h1>
    <ul id="options" title="Options" selected="true">
        <li><a href="{{ url_for('watch.video')}}?v={{ video.videoId }}">Watch Video</a></li>
        <li><a href="{{ url_for('search.related')}}?v={{ video.videoId }}">Related Videos</a></li>
    </ul>
</body></html>